.topp{
    width: 80%; 
  }
  
  .dest{font-weight: 700;}
  @media only screen and  (max-width: 767px) {
    .dest > p {font-size: 33px;} 
    
    .topp{
      display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    }
    /* .topp{
     align-items: center;
     justify-content: center;
    width: 40%;
    right: 25px;
   } */
   .text{font-size: 19px;}
   .price{font-size: 19px;}
   .socks .col {
    flex: 0 0 50%; 
  }
}